{% extends 'base.html.twig' %}
{% block title %}Gardez le contact{% endblock %}

{% block body %}
    <div class="contact_blockbody">
        <div class="contact_cardheader">
            <a class="contact_btnabck" href="/" >
                <i class="fas fa-2x fa-arrow-circle-left">
                </i>
            </a>
            <h3> Garder le contact </h3>
        </div>
        <div class="contact_cardbody">
            <div class="contact_cardclickable" onclick="window.open('https://iut2.univ-grenoble-alpes.fr/l-iut2/qui-sommes-nous-/les-departements-de-l-iut2/informatique-info--149104.kjsp','_blank')">

            </div>
        </div>
    </div>
{% endblock %}
